#divTrigger a:link,#divTrigger a:visited{
	text-decoration	: none;
	margin			: 4px 1px;
	padding			: 2px 12px;	/*Kotak link*/
	border			: 1px solid #CCC;
	background-color: #000;
	color			: #000;
	border-radius	: 2px;
}

#divTrigger a:hover,#divTrigger a:active,.selected{ 
	background-color: #333333;
	color: #FF0000;
}
#divContent{
	margin-top:0px;
	border:0solid #CCC;
	width: auto;
	height: 350px;
	padding: 4px;
}
 
#divContent div{ 
	display:none
}	
