#main-menu a{margin:0;font-size:11px;font-weight:normal;font-family:tahoma;letter-spacing:+1px;text-transform:normal;color: #dcdcdc;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px;}
#main-menu a:hover{font-size:11px;font-weight:normal;font-family:tahoma;text-decoration:none;text-transform:normal;color:#ffffff;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px;}
.sub-menu { color:darkblue;text-decoration:none;cursor:pointer;}

.flexdropdownmenu, .flexdropdownmenu ul{
	font		: normal 12px calibri;
	margin		: 0;
	padding		: 0;
	position	: absolute;
	left		: 0;
	top			: 0;
	list-style-type: none;
	background	: white;
	border		: 0px solid darkblue;
	border-bottom-width: 0;
	visibility	: hidden;
	display		: none;
	box-shadow	: 3px 3px 8px #818181;
	-webkit-box-shadow: 3px 3px 8px #818181;
	-moz-box-shadow: 3px 3px 8px #818181;
}

.flexdropdownmenu li{
	position: relative;
}

.flexdropdownmenu li a{
	display		: block;
	width		: 210px;
	color		: #fff;
	background	: #6892bc;
	border-bottom: 0px solid black;
	text-decoration: none;
	padding		: 5px 8px;
}

* html .flexdropdownmenu li{ /*IE6 CSS hack*/
	display: inline-block;
	width: 170px;
}

.flexdropdownmenu li a:hover, .flexdropdownmenu li.selected>a{
	background: #006699;
	color:#ffffff;
	font-style:italic;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

