body{
	margin-top 	: 5px;
	background 	: url(images/bck.jpg) repeat-x left top #393737;
	font		: 11px Calibri, Arial, Helvetica, sans-serif;
	height		: auto;
}

html{
	min-height	: 100%;
	height		: 100%;overflow-y:scroll
}

a.icor {color:#fff; font-size:11px; font-family:calibri; font-weight: bold; text-decoration: none; padding:0 0 0 14px; background-repeat:no-repeat; background-position:0 0; }
a.icor:hover { color:#ff0000;}
a.reg { background-image:url(images/right.gif)}

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }

.judulinfo{
	font-size:10pt;
	color:#660000;
}

a.info { color:#dd9c9a; font-size:9px; font-family:Calibri; font-weight: bold; color: #6600FF; text-decoration: none; padding:0 0 0 18px; background-repeat:no-repeat; background-position:0 0; }
a.info:hover { color:#333;}
a.read { background-image:url(images/prev.png)}

#dat{ color:#FFFFFF;position:relative; height:20px; width:1021px; border-style:none solid;border-width:0 0px;margin:0 auto;background: #212020}
#nav{
	width:990px;
	height:25px;
	position: inherit;
	line-height:24px;
	padding:0 10px;
	background:#ccc;
	left: 0px;
	border-radius: 5px;
}
#menu{
	background:#6892bc;
	width:990px;
	height:35px;
	position: inherit;
	line-height:35px;
	color:#FFF;
	padding:0 0 0 10px;
	border-radius: 0px;
	box-shadow: 0 0 2px #fff;
}

#header{height:100px;width:1000px;position:relative;border-top-style:solid;border-top-width:10px;border-top-color:#CCC;margin:auto;background:url(images/header.gif) repeat-y #006699}
#header h1{float:left}

#pag,#pagHome{position:relative;min-height:100%;width:1000px;border-color:#CCC;border-style:none solid;border-width:0 10px;margin:0 auto;background:#F7F7F7}
#pag{}
#bot{
	position: inherit;
	min-height:50px;
	width:1000px;
	border-color:#CCC;
	border-style:none solid;
	border-width:0 10px;
	margin:0 auto;
	background-color: #ccc;
}

#slider-top{
	width:1020px;
	margin:0px auto;
	border:1px solid #F0F0F0;
	font-size:11px;
	-moz-box-shadow: 0 0 15px #ccc; 
	-webkit-box-shadow: 0 0 15px #ccc; 
	box-shadow: 0 0 15px #ccc;
}
#rekapaset_div
{
	background:#fff;
	position		: absolute;
	width			: 340px;
	height			: 165px;
	margin			: 0px auto;
	border			: 1px solid #F0F0F0;
	border-radius	: 4px;
	font-size		: 11px;
	box-shadow		: 0 0 15px #ccc;
	-moz-box-shadow	: 0 0 15px #ccc; 
	-webkit-box-shadow: 0 0 15px #ccc; 
}
#informasi_div
{
	background:#FFFFCC;
	position		: absolute;
	width			: 340px;
	/*height			: 262px;*/
	height			: 610px;
	/*overflow-y		: scroll;*/
	overflow		: auto;
	color			: #000;	
	margin			: 0px auto;
	border			: 1px solid #F0F0F0;
	border-radius	: 4px;
	font-size		: 11px;
	box-shadow		: 0 0 15px #ccc;
	-moz-box-shadow	: 0 0 15px #ccc; 
	-webkit-box-shadow: 0 0 15px #ccc; 
}
#kritiksaran_div
{
	background		: #FFFF99;
	position		: absolute;
	width			: 340px;
	height			: 262px;
	overflow-y		: scroll;
	margin			: 0px auto;
	border			: 1px solid #F0F0F0;
	border-radius	: 4px;
	font-size		: 11px;
	box-shadow		: 0 0 15px #ccc;
	-moz-box-shadow	: 0 0 15px #ccc; 
	-webkit-box-shadow: 0 0 15px #ccc; 
}
.cleaner_h0 { clear: both; width:100%; height: 0px; }
.cleaner_h1 { clear: both; width:100%; height: 1px; }
.cleaner_h5 { clear: both; width:100%; height: 5px; }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

th{
	background	: #CCCCCC;
	text-align	: left;
	height		: 20px;
	padding-left: 10px;
	background-repeat:inherit;
}
.table-main{
	width			: auto;
	height			: auto;
	border-radius	: 0px;
	border			: solid 0#6892bc;
}
.table-navigate{
	font-family		: Calibri, Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#FFFFFF;
	padding			: 0px;
	border-collapse	: collapse;
	width			: 630px;
	height			: 20px;
	background		: #663333;
	border-radius	: 4px;
	border			: 2px;
	cellspacing		: 0;
	cellpadding		: 0;
}
.table-display{
	padding			: 0px;
	border-collapse	: collapse;
	width			: 630px;
	height			: 350px;
	background		: #999999;
	border-radius	: 0px;
	border			: 0px;
	cellspacing		: 0;
	cellpadding		: 0;
}

.table-triger{
	padding			: 0px;
	border-collapse	: collapse;
	width			: 630px;
	cellspacing		: 0;
	cellpadding		: 0;
	height			: 30px;
	background		: #fff;
	border-radius	: 5px;
	border			: solid 0px #c0c0c0;
}
.table-redaction
{
	width			: 630px;
	height			: 550px;
	background		: #fff;
	border-radius	: 5px;
	border			: solid 0px #c0c0c0;
}
.table-title{
	width			: 630px;
	height			: 30px;
	background		: #3399CC;
	border-radius	: 0px;
	border			: solid 0px #c0c0c0;
}
.table-login{
	background 		: url(images/kmb.png) repeat-x left top #fff;
	width			: 350px;
	height			: 50px;
	border-radius	: 5px;
	border			: solid 1px #c0c0c0;
}
.table-rekap{
	width			: 350px;
	height			: 200px;
	background		: #fff;
	border-radius	: 5px;
	border			: solid 1px #c0c0c0;
}
.table-informasi{
	width			: 350px;
	/*height			: 300px;*/
	height			: 650px;
	background		: #fff;
	border-radius	: 5px;
	border			: solid 1px #c0c0c0;
}
.table-general{
	background		: #fff;
	border-radius	: 0px;
	font-family		: verdana;
	font-size		: 11px;
}
.table-kritik{
	width			: 350px;
	height			: 300px;
	background		: #fff;
	border-radius	: 5px;
	border			: solid 1px #c0c0c0;
}

.h1{
	font-size		: 18px;
	font-weight		: bold;
	font-family		: Agency FB, calibri;
} 
input[type=text] 
{
	background-image: -moz-linear-gradient(left, #D7DFE3, #fff);
	font-family: calibri;
	font-size:9pt;
	border: 1px solid #C0C0C0;
	border-radius: 4px;
	padding: 2px 2px 2px 2px;
}

input[type=text]:hover 
{
	background-color: #F2F2F2;
	border: 1px solid #C0C0C0;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	cursor:pointer;	
}

input[type=text]:focus
{
	background-image: -moz-linear-gradient(left, #BBD7E6, #BBD7E6);
	border: 1px solid #C0C0C0;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);	
	cursor:text;
}



textarea
{
	background-image: -moz-linear-gradient(left, #D7DFE3, #fff);
	font-family: calibri;
	font-size:9pt;
	border: 1px solid #C0C0C0;
	border-radius: 4px;
	padding: 2px 2px 2px 2px;
}

textarea:hover 
{
	background-color: #F2F2F2;
	border: 1px solid #C0C0C0;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	cursor:pointer;	
}

textarea:focus
{
	background-image: -moz-linear-gradient(left, #BBD7E6, #BBD7E6);
	border: 1px solid #C0C0C0;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);	
	cursor:text;
}


input[type=password] 
{
	background-image: -moz-linear-gradient(left, #D7DFE3, #fff);
	font-family: calibri;
	font-size:9pt;
	border: 1px solid #C0C0C0;
	border-radius: 4px;
	padding: 2px 2px 2px 2px;
}

input[type=password]:hover 
{
	background-color: #F2F2F2;
	border: 1px solid #C0C0C0;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	cursor:pointer;	
}

input[type=password]:focus
{
	background-image: -moz-linear-gradient(left, #BBD7E6, #BBD7E6);
	border: 1px solid #C0C0C0;
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);	
	cursor:text;
}

input[type=button] {
	font-weight:bold;
	display: inline;
	font-family: calibri;
	font-size: 8pt;
	width: auto;
	padding: 0px 0px;
	background: #dcdcdc;
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border:1px solid #C0C0C0;
	border-radius: 4px 4px;
	text-decoration: none;
	text-shadow: #ffffff 1px 1px;
	min-width: 20;
	cursor:pointer;
}

input[type=button]:hover {
	font-family: calibri;
	font-size: 9pt;
	background: #eee;
	border-radius: 4px 4px;
	background-image: -moz-linear-gradient(top, #3399FF, #eee);
	border-color: #dcdcdc;
	text-decoration: none;
}

input[type=button]:active {
	background: #eee;
	background-image: -moz-linear-gradient(top, #3399FF, #eee);
	text-shadow: #eee 0px 1px 0px;
	border-color: #aaa;
	text-decoration: underline;
	font-style:italic;
}

input[type=file] {
	font-weight:bold;
	display: inline;
	font-family: calibri;
	font-size: 8pt;
	width: auto;
	padding: 0px 0px;
	background: #dcdcdc;
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border:1px solid #C0C0C0;
	border-radius: 4px 4px;
	text-decoration: none;
	text-shadow: #ffffff 1px 1px;
	min-width: 20;
	cursor:pointer;
}

input[type=file]:hover {
	font-family: calibri;
	font-size: 9pt;
	background: #eee;
	border-radius: 4px 4px;
	background-image: -moz-linear-gradient(top, #3399FF, #eee);
	border-color: #dcdcdc;
	text-decoration: none;
}

input[type=file]:active {
	background: #eee;
	background-image: -moz-linear-gradient(top, #3399FF, #eee);
	text-shadow: #eee 0px 1px 0px;
	border-color: #aaa;
	text-decoration: underline;
	font-style:italic;
}
select {
	background-image: -moz-linear-gradient(left, #f2f2f2, #fff);
	font-family: Calibri;
	font-size: 10pt;
	border: 1px solid #C0C0C0;
	cursor:pointer;
	padding: 1px 2px;
	border-radius: 4px;
}

select:hover 
{
	background-color: #F2F2F2;
	border: 1px solid #C0C0C0;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	cursor:pointer;	
}

select:focus
{
	background-image: -moz-linear-gradient(left, #fff, #fff);
	border: 1px solid #C0C0C0;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);	
}

.find0Cri
{
	position: absolute;
	display:none;
	width:460px; margin:0 auto;
	height:240px; margin:0 auto;
	background: #fff;
	border:#999999 1px solid;
	border-radius: 4px;
}
.find1Cri
{
	position: static;
	width:460px;
	height:24px;
	background:#adc9b5;
	border:#999999 0px solid;
}
.find2Cri
{
	position: static;
	display:none;
	overflow: auto;
	width:460px;
	height:215px;
	background:#fff;
	border:#999999 0px solid;
}
.table-listpop {
	background: #ffffff;
    border: solid #C0C0C0 0px;
    border-radius: 0px;
	font-size: 9pt;
	color : #1C4060;
}
.table-listpop tr:hover td{ 
	background-color: #FFFFCC; 
	text-decoration:none; 
	color:#0066CC;
	cursor: pointer;
}
