#mainmenu{ 
	background:#6892bc;
	height:29px; 
	width:100%;
	display:block; 
	padding:0px 0px 0px 0px; 
	margin:0px auto;
	border-radius:0px;
} 
#mainmenu > ul {list-style:inside none; padding:0; margin:0;} 
#mainmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#mainmenu > ul > li > a{ 
	outline:none; 
	display:block; 
	position:relative; 
	padding:10px 12px; 
	font:bold 8pt/90% calibri, helvetica, sans-serif; 
	text-align:center; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0,1);
} 
#mainmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;} 
#mainmenu > ul > li > a:after{ 
	/*content:'';*/
	position:absolute; 
	border-right:0px solid; 
	top:-1px; 
	bottom:-1px; right:-0px; z-index:99; 
} 
#mainmenu > ul > li.has-sub > a:before{ 
	/*content:''; */
	position:absolute; 
	top:11px; 
	right:6px; 
	border:5px solid transparent; 
	border-top:5px solid #fff; 
} 
#mainmenu > ul > li.has-sub:hover > a:before{top:19px;} 
#mainmenu ul li.has-sub:hover > a{ 
	background:#01557F;
	border-color:#ff0000; 
	padding-bottom:10px; 
	padding-top:13px; 
	top:-1px; z-index:999;
	border-radius:5px;
} 
#mainmenu ul li.has-sub:hover > ul, #mainmenu ul li.has-sub:hover > div{display:block;} 
#mainmenu ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#mainmenu ul li.has-sub > a:hover{
	background:#01557F; 
	border-radius:5px;
	color:#fff;
	} 
#mainmenu ul li > ul, #mainmenu ul li > div{ 
	display:none; 
	width:auto; 
	position:absolute; 
	top:30px; 
	padding:10px 0; 
	background:#fff; 
	border-radius:5 5 5px 5px; z-index:999; 
} 

/* width child menu table */
#mainmenu ul li > ul
{
	background:#01557F;
	width:350px;
	border-radius:5px;
} 
#mainmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#mainmenu ul li > ul li a{ 
	background: #006699;
	color:#000000;
	outline:none; 
	display:block; 
	position:relative; 
	margin:0; 
	padding:5px 10px; 
	font:9pt calibri, arial, helvetica, sans-serif; color: #fff; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0,0);
} 

/* main menu table */
#mainmenu > ul > li > ul > li a:hover
{ 
	color:#000;
	background:#D0E5EA;
} 
#mainmenu{border-color:#B5C1C3;} 
#mainmenu > ul > li > a{border-right:0px solid #647306; color:#FFFFFF;} 
#mainmenu > ul > li > a:after{border-color:#c2f224;} 
#mainmenu > ul > li > a:hover{
	background:#01557F;
	border-radius:5px;
	color:#fff;
} 
